body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    text-align: center;
    padding: 5px; /* 减少 padding */
    background-color: #ff7500; /* 橘黄色 */
    color: white;
}

.profile-img {
    width: 100px; /* 减小图片宽度 */
    height: auto;
    border-radius: 0; /* 长方形 */
    display: block;
    margin: 0 auto;
}

header h1, header h2 {
    margin: 5px 0; /* 减少 margin */
}

nav {
    background-color: #2e8b57; /* 墨绿色 */
    overflow: hidden;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 10px 16px; /* 减少 padding */
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #3cb371; /* 更浅的绿色 */
}

main {
    padding: 20px;
    margin: 20px;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    display: none; /* 默认隐藏所有部分 */
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #2e8b57; /* 墨绿色 */
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}
