body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    max-width: 1200px; /* 设置最大宽度 */
    width: 100%; /* 宽度占满容器 */
    margin: 0 auto; /* 居中对齐 */
    padding: 0 20px; /* 内边距 */
    box-sizing: border-box; /* 使 padding 不影响元素的实际宽度 */
}

.wrapper {
    flex: 1;
    padding: 20px;
}

nav, .profile-section, footer {
    width: 100%; /* 宽度为容器的100% */
    box-sizing: border-box; /* 使 padding 不影响元素的实际宽度 */
}

nav {
    background-color: #2e8b57;
    padding: 10px 0;
    text-align: center;
    margin: 0 auto; /* 确保导航栏居中 */
    width: 100%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    display: inline-block;
    color: white;
    padding: 10px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #3cb371;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.card {
    background-color: white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 20px;
    margin: 10px;
}

.profile-section {
    display: flex;
    align-items: flex-start;  /* 确保子元素在顶部对齐 */
    padding: 20px;
    margin-top: 20px;  /* 与导航栏的间距，可根据需要调整 */
}

.profile-img {
    width: 160px;
    height: auto;
    margin-right: 40px;  /* 图片与文字之间的间距 */
}

.profile-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;  /* 使文本项左对齐并在顶部对齐 */
}

.profile-info h1, .profile-info h2, .profile-info p {
    margin: 0;  /* 移除默认的 margin 以确保顶部对齐 */
    padding: 0;  /* 确保无 padding 影响对齐 */
}

.profile-info h1 {
    font-size: 1.8em;
    font-weight: 600;
}

.profile-info h2 {
    font-size: 1.0em;
    font-weight: 400;
    margin-top: 5px;
}

.profile-info h3 {
    font-size: 1.4em;
    font-weight: 500;
}

.profile-info p {
    text-align: left; /* 将文本左对齐以保持一致性 */
}

.about-text, .group-news {
    padding: 20px;
    margin: 10px;
    flex: 1;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #2e8b57;
    color: white;
    margin-top: auto; /* 确保页脚在底部 */
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto; /* 居中页脚 */
}
