body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.wrapper {
    flex: 1;
    padding: 20px;
}

nav {
    background-color: #2e8b57;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    display: inline-block;
    color: white;
    padding: 10px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #3cb371;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.card {
    background-color: white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 20px;
    margin: 10px;
}

.profile-section {
    display: flex;
    align-items: flex-start;  // Ensure the children align at their top edges
    padding: 20px;
    margin-top: 20px;  // Space from the nav bar, adjust if necessary
}

.profile-img {
    width: 160px;
    height: auto;
    margin-right: 40px;  // Space between the image and the text
}

.profile-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;  // Align text items to the left and top
}

.profile-info h1, .profile-info h2, .profile-info p {
    margin: 0;  // Remove any default margin to ensure top alignment
    padding: 0;  // Ensure no padding disrupts the alignment
}


.profile-info h1 {
    font-size: 1.8em;
    font-weight: 600;
}

.profile-info h2 {
    font-size: 1.0em;
    font-weight: 400;
    margin-top: 5px;
}

.profile-info h3 {
    font-size: 1.4em;
    font-weight: 500;
    margin-top: 5px;
}


.profile-info p {
    text-align: center;
}

.about-text, .group-news {
    padding: 20px;
    margin: 10px;
    flex: 1;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #2e8b57;
    color: white;
    margin-top: auto; // Ensure footer is at the bottom
}
